html {
  height: 100%;
  width: 100%;
}

h1 {
  font-style: italic;
  font-size: 50px;
  color: antiquewhite;
  top: -150px;
  font-weight: bold;


}

.container {
  min-height: 1000px;
}

.vanta-canvas {
  width: 100%;
  min-height: 300px;
  object-fit: cover;
}

body {
  background-color: #070739;
}

.webpage {

  position: relative;
}

.myname {
  position: absolute;
  z-index: 1;
  padding-top: 420px;
  padding-left: 520px;
  padding-bottom: 600px;

}

#navbar {
  overflow: hidden;
  background-color: #070739;
}

/* Navbar links */
#navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky+.content {
  padding-top: 60px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #070739;
}

.topnav a {
  float: right;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #070739;
  color: #ed719e;
}

/* .headshot{
 max-width: 30%;
  max-height: 40%;
  object-position: left;
}
*/


.blurb {
  position: absolute;
  z-index: 1;
  padding-left: 520px;
  padding-top: 30px;
  padding-bottom: 60px;
  color: white;

}
.secondPageTitle{
  text-align: center;
   color: white;
  padding-top: 600px;
}